header {
    text-align: center;
    display: block;
    padding: 0px 0px 0px 0px;
    position: relative;
}

footer {
  text-align: center;
  padding: 40px 75px 40px 75px;
}

footer p {
  color: #272727;
}

body {
  background-color: #F9EBA2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  transition: background-color 1s ease;
}

.kanban {
  padding-top: 40px;
  padding-bottom: 20px;
}

.panel {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}

.color-yellow {
  background-color: #F9EBA2;
}
.color-white {
  background-color: #f4f4f4;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 4em;
  color: #272727;
  padding: 0;
  padding-top: 20px;
  margin: 0;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 3.3em;
  color: #272727;
  text-align: center;
}

p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.2em;
  padding-top: 5px;
  color: #272727;
}

p.description {
  text-align: center;
}

p.caption {
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-size: 1.0em;
  padding: 6px 10px 0px 10px;
}

img.polaroid {
  cursor: pointer;
  height: 100%;
  width: 100%;
  max-height: 320px;
  max-width: 320px;
  border: solid #fff;
  object-fit: cover;
  -webkit-filter: contrast(90%) sepia(60%); /* Safari */
  filter: contrast(90%) sepia(60%);
  border-width:10px 10px 40px 10px;
  -webkit-box-shadow: 0px 8px 30px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 8px 30px -1px rgba(0,0,0,0.3);
  box-shadow: 0px 8px 30px -1px rgba(0,0,0,0.3);
  top: 0px;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  transition: top 0.4s ease;
}

img.polaroid:hover {
  position: relative;
  top: -3px;
}

.head {
  margin: 0;
  height:100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subhead {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  padding: 6px 4px 0px 4px;
}

.profilepic {
  width: 100%;
  max-width: 300px;
}

.card {
  font-family: 'Playfair Display', serif;
  margin: 20px auto;
  max-width: 1000px;
  background-image: #f9f7f1;
  background-color: #f9f7f1;
  border: 0 none;
  -webkit-box-shadow: 0px 8px 30px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 8px 30px -1px rgba(0,0,0,0.1);
  box-shadow: 0px 8px 30px -1px rgba(0,0,0,0.1);
  top: 0px;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  transition: top 0.4s ease;
}

.card:hover {
  position: relative;
  top: -3px;
}

.card-title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 2em;
  color: #272727;
}

.card-img-top {
}

.card p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #272727;
}

.card-alert {
  text-align: center;
  padding: 10px 16px 2px 16px;
  background-color: #ff5e5e;
}

.card-alert a {
  color: #ffffff;
}

.card-alert a:hover {
  color: #ffffff;
}

.card-alert p {
  color: #ffffff;
}

.header-card {
  max-width: 600px;
}

.btn {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  border-radius: 0.75em;
  font-weight: bold;
  background: transparent;
  border: none;
}

.btn:focus {
  font-size: 1em;
}

.btn-primary {
  color: #272727;
}

.btn-primary:hover {
  color: #272727;
  background: transparent;
  text-decoration: underline;
}

.btn-primary:active {
  color: #272727;
  background: transparent;
  text-decoration: underline;
}

.btn-primary:focus {
  color: #272727;
}

.btn-secondary {
  color: #f4f4f4;
}

.btn-secondary:hover {
  color: #f4f4f4;
  background: transparent;
  text-decoration: underline;
}

.btn-secondary:active {
  color: #f4f4f4;
  background: transparent;
  text-decoration: underline;
}

.btn-secondary:focus {
  color: #f4f4f4;
}
