header {
    text-align: center;
    display: block;
    padding: 0px 0px 0px 0px;
    position: relative;
    background-image: url("img/banner.png");
    -webkit-box-shadow: inset 10px 10px 28px 28px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 10px 10px 28px 28px rgba(0,0,0,0.3);
    box-shadow: inset 10px 10px 28px 28px rgba(0,0,0,0.3);
}

.kanban {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer {
  text-align: center;
  padding: 40px 75px 40px 75px;
  background: #6f86d6;
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.2);
}

body {
  background-image: linear-gradient(#48c6ef, #6f86d6);
}

h1 {
  font-family: 'Source Sans Pro', serif;
  font-size: 3em;
  color: #f4f4f4;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

h2 {
  font-family: 'Source Sans Pro', serif;
  font-size: 2.3em;
  color: #f4f4f4;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

p {
  font-family: 'Lato', serif;
  font-size: 1.2em;
  padding-top: 5px;
  color: #f4f4f4;
}

p.description {
  text-align: center;
}

.profilepic {
  width: 40%;
  -webkit-transition: width 0.4s ease-out;
  -moz-transition: width 0.4s ease-out;
  -o-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
}

.profilepic:hover {
  width: 42%;
}

.card {
  font-family: 'Lato', serif;
  margin: 20px auto;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 8px 28px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 8px 28px -1px rgba(0,0,0,0.3);
  box-shadow: 0px 8px 28px -1px rgba(0,0,0,0.3);
  -webkit-transition: box-shadow 0.4s ease-out;
  -moz-transition: box-shadow 0.4s ease-out;
  -o-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out;
}

.card:hover {
  -webkit-box-shadow: 0px 8px 30px -1px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 8px 30px -1px rgba(0,0,0,0.9);
  box-shadow: 0px 8px 30px -1px rgba(0,0,0,0.9);
}

.card-title {
  font-family: 'Source Sans Pro', serif;
  font-size: 2em;
  color: #373737;
}

.card p {
  font-family: 'Lato', serif;
  color: #373737;
}

.btn {
  font-family: 'Source Sans Pro', serif;
  font-size: 1em;
  border-radius: 0.75em;
  border-width: medium;
  font-weight: bold;
  -webkit-transition: font-size 0.4s ease-out;
  -moz-transition: font-size 0.4s ease-out;
  -o-transition: font-size 0.4s ease-out;
  transition: font-size 0.4s ease-out;
}

.btn:hover {
  font-size: 1.05em;
}

.btn:focus {
  font-size: 1em;
  color: #f4f4f4;
  background: #6f86d6;
  border-color: #6f86d6;
}

.btn-primary {
  color: #f4f4f4;
  background: #48c6ef;
  border-color: #48c6ef;
}

.btn-primary:hover {
  color: #48c6ef;
  background: transparent;
  border-color: #48c6ef;
}

.btn-light {
  width: 50%;
  color: #48c6ef;
  background: #f4f4f4;
  border-color: #f4f4f4;
}

.btn-light:hover {
  color: #f4f4f4;
  background: transparent;
  border-color: #f4f4f4;
}
