.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

body {
  background-color: #f4f4f4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e3e3e3' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.page {
  width: 100%;
  max-width: 44em;
  margin: 4px auto;
  padding: 10px 0 40px 0;
}

.page img {
  width: 100%;
}

header {
  padding-top: 6px;
  text-align: center;
}

.content {
  margin: 50px 0;
}

.cv {
  text-align: center;
}

.cv h3 {
  margin: 5px 0;
}

.cv-item {
  text-align: center;
  margin: 20px 0;
}

.cv-item p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 16px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h2, h3, p, li {
  color: #272727;
}

h1 {
  text-transform: uppercase;
  color: #ff004e;
  font-family: 'basic-sans', sans-serif;
  letter-spacing: 2.5px;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #ff004e;
}

h3 {
  font-family: "basic-sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  margin: 0;
}

p, li {
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2em;
}

.project-navigation {
  padding: 30px 0 20px 0;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.a-arrow {
  padding: 4px;
}

.arrow {
  border: solid #f4f4f4;
  border-width: 0 4px 4px 0;
  border-radius: 4px;
  display: inline-block;
  padding: 4px;
  margin: auto;
}

.arrow-disabled {
  border: solid rgba(255, 255, 255, 0.1);
  border-width: 0 4px 4px 0;
  border-radius: 4px;
  display: inline-block;
  padding: 4px;
  margin: auto;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  padding-left: 10px;
  margin-left: 10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  padding-right: 10px;
  margin-right: 10px;
}

.note {
  margin: 1em 0;
}

.note h3 {
  margin: 0;
  padding: 0;
}

.note p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

hr {
  border: 1px dashed #000;
  width: 100%;
  margin: 30px 0 20px 0;
}

a {
  color: #45a396;
  text-decoration: none;
  transition: all .2s;
}

a:hover {
  text-decoration: underline;
}

.btn {
  font-family: "basic-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px 6px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
  /*padding: 2px 8px;*/
}

.btn-nav {
  text-transform: uppercase;
  font-family: "basic-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px 6px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-nav:hover {
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
  /*padding: 2px 8px;*/
}

@media only screen and (max-width: 767px) {

}

.inline-img {
  display: inline-block;
  position: relative;
  margin: auto;
  margin-left: 5px;
  width: 18px !important;
}

.btn-gray {
  color: #999;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-gray:hover {
  color: #666;
  background-color: rgba(153, 153, 153, 0.15);
}

.btn-gray:active {
  background-color: rgba(153, 153, 153, 0.15);
}

.btn-purple {
  color: #824BFF;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-purple:hover {
  color: #6A2BFF;
  background-color: rgba(130, 75, 255, 0.15);
}

.btn-purple:active {
  background-color: rgba(130, 75, 255, 0.15);
}

.btn-orange {
  color: #f4911e;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-orange:hover {
  color: #db8016;
  background-color: rgba(244, 145, 30, 0.15);
}

.btn-orange:active {
  background-color: rgba(244, 145, 30, 0.15);
}

.btn-red {
  color: #d00000;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-red:hover {
  color: #bd0000;
  background-color: rgba(208, 0, 0, 0.15);
}

.btn-red:active {
  background-color: rgba(208, 0, 0, 0.15);
}

.btn-burnt-orange {
  color: #ff6300;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-burnt-orange:hover {
  color: #e65900;
  background-color: rgba(255, 99, 0, 0.15);
}

.btn-burnt-orange:active {
  background-color: rgba(255, 99, 0, 0.15);
}


.btn-blue {
  color: #026cf7;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-blue:hover {
  color: #0962d6;
  background-color: rgba(2, 108, 247, 0.15);
}

.btn-blue:active {
  background-color: rgba(2, 108, 247, 0.15);
}

.btn-dark-gray {
  color: #474747;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-dark-gray:hover {
  color: #272727;
  background-color: rgba(71, 71, 71, 0.15);
}

.btn-dark-gray:active {
  background-color: rgba(71, 71, 71, 0.15);
}

.btn-light-blue {
  color: #4FB5FF;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-light-blue:hover {
  color: #3bacff;
  background-color: rgba(79, 181, 255, 0.15);
}

.btn-light-blue:active {
  background-color: rgba(79, 181, 255, 0.15);
}

.btn-light-red {
  color: rgba(255, 0, 76, 1);
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-light-red:hover {
  color: #eb0048;
  background-color: rgba(255, 0, 76, 0.15);
}

.btn-light-red:active {
  background-color: rgba(255, 0, 76, 0.15);
}

.btn-lighter-red {
  color: rgba(255, 0, 76, 0.3);
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-lighter-red:hover {
  color: rgba(255, 0, 76, 0.3);
  background-color: rgba(255, 0, 76, 0.05);
}

.btn-lighter-red:active {
  background-color: rgba(255, 0, 76, 0.05);
}

.btn-mint {
  color: #30dc9d;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-mint:hover {
  color: #1fcc8c;
  background-color: rgba(48, 220, 157, 0.15);
}

.btn-mint:active {
  background-color: rgba(48, 220, 157, 0.15);
}

.btn-green {
  color: #3db243;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-green:hover {
  color: #2eab35;
  background-color: rgba(61, 178, 67, 0.15);
}

.btn-green:active {
  background-color: rgba(61, 178, 67, 0.15);
}

.btn-white {
  color: #f4f4f4;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-white:hover {
  color: #f4f4f4;
  background-color: rgba(255,255,255,0.15);
}

.btn-white:active {
  background-color: rgba(255,255,255,0.15);
}

.dark {
  background-color: #000;
}

.dark h2, .dark h3, .dark p, .dark li {
  color: #f4f4f4;
}

.dark h1 {
  color: transparent;
  -webkit-text-stroke: 1.5px #ff004e;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100px;
  margin: 0.5em;
}
